<!-- 
<nav class="navbar  ">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Link</a>
    </li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-sm justify-content-center bg-dark navbar-dark fixed-bottom">
  <ul class="navbar-nav" style="list-style: none">
    <li class="nav-item" style="  border-right:1px solid rgba(0,0,0,0.3);
    padding-right:3vw;
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
">
    <h3 class="nav-link" (click)="choice='Explore'">Explore</h3>
  </li>
    <li  style="border-right:1px solid rgba(0,0,0,0.3);


    padding-left:3vw;    padding-right:3vw;
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
" class="nav-item"><h3 class="nav-link" (click)="choice='Home'">Home</h3>
    </li>
    <li  style="  border-left:1px solid rgba(0,0,0,0.3);

    padding-left:3vw;
  /*padding-right: 10px;*/
  /*padding-left: 110px;*/
" class="nav-item">
    <h3 class="nav-link"  (click)="choice='Ask'">Ask</h3></li>
  </ul>
</nav><!-- 
<ul  class="list-inline">
  <li>
  </li>

  <li></li>

  <li>
  </li>
 </ul>
 {{choice}} -->
<div class="container-fluid" >
  <!--flag=true is explore--->
  <app-explore [questions]="changeToQue()" 
 [articles]="changeToArticles()"
  *ngIf="choice=='Explore'"></app-explore>
  <app-home 
  [articles]="changeToArticles()"
   *ngIf="choice=='Home'" 
   ></app-home>
  <app-ask *ngIf="choice=='Ask'" [question]="question"
  (notify)="changeFromChild($event)"
  ></app-ask>
</div>